body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#camera {
  position: relative;
  height: 60vw;
  width: 100%;
  overflow: hidden;
}

#root {
  background-color: aqua;
  image-rendering: pixelated;

  transition: transform ease-in-out 500ms;
}
