<!DOCTYPE html>
<html>
  <head>
    <title>Electron Game</title>
    <meta charset="utf-8" />
    <script>
      require("module").globalPaths.push(
        "/Users/vinnypassanisi/Documents/Code/game/node_modules"
      );
      require("source-map-support/source-map-support.js").install();
    </script>
  </head>
  <body style="margin: 0">
    <canvas id="app"></canvas>
  </body>
</html>
